<h1>商品新規登録</h1>

<% if @product.errors.present? %>
<h3>エラーがあります。</h3>
<ul>
  <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>
<% end %>

<%= form_with model: @product do |f| %>
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %><br>
    <%= f.label :price, "金額" %>
    <%= f.number_field :price, min: 1 %><br>
    <%= f.submit '登録' %>
<% end %>

<%= link_to "戻る", root_path %>
